@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model NamePronunciationTool.Models.EmployeeData
<style>
    #tblemployeeDetails label {
        width: 200px;
    }

    #btnRecordPronunciation {
        border-radius: 4px;
        text-align: center;
        background-color: orangered;
        border-color: orangered;
        color: white;
    }

</style>
<div id="divEmployeeSearch" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br />
    <div style="height:10px; text-align: right;">
        <label><b>Logged Employee : </b></label>
        <label id="loggedemp" style="width:120px; text-align:left;">siva krishna</label>
        <br/>
        <button type="button" id="btnRecordPronunciation"><b>Record Your Name Pronunciation</b></button>
    </div>
    <br />
    <br />
    <br />
    <table class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:10px;">
        <tr>
            <td class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <p></p>
                <table id="tblemployeeDetails">
                    <tbody>
                        <tr>
                            <td style="text-align: left; padding: 10px;"><label><b>Employee Name :</b></label></td>
                            <td><label id="empName" class="form-control">@Model.FirstName @Model.LastName</label></td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding:10px;">
                                <label><b>Employee Id :</b></label>
                            </td>
                            <td>
                                <label class="form-control" id="empId">@Model.EmployeeId </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding:10px;"><label><b>Country :</b></label></td>
                            <td><label class="form-control" id="country">@Model.Country</label></td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding:10px;"><label><b>Name Pronunciation :</b></label></td>
                            <td><button type="button" id="btnplay"><b>Play</b></button></td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding:10px;"><label><b>Name Phonetic :</b></label></td>
                            <td><label class="form-control" id="phonetic">@Model.NamePhonetic</label></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            </td>
        </tr>
    </table>
</div>