@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model NamePronunciationTool.Models.EmployeeData
<style>
    #tblRecordPronunciation textarea {
        width: 150%;
        resize: none;
        height: 40px;
    }
</style>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/RecordPunctation.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#radioButtonContainerId input:radio').click(function () {
                if ($(this).val() === 'Standard') {
                    $("#btnRecord").attr('disabled','disabled');
                } else if ($(this).val() === 'Custom') {
                    $("#btnRecord").removeAttr('disabled');
                }
            });
        });
</script>
<html>
<body>
    <table class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:10px;" id="tblRecordPronunciation">
        <tr>
            <td class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <p></p>
                <table id="tblemployeeDetails">
                    <tbody>
                        <tr>
                            <td style="text-align: left; padding: 10px;"><label><b>Opt Name Pronunciation Type : &nbsp;&nbsp;</b></label></td>

                            <td>
                                <div id="radioButtonContainerId">
                                    <input type="radio" id="idoptoutnameradio1" name="optoutnameradio" value="Standard">
                                    <label for="idoptoutnameradio1"><b>Standard</b></label>
                                    &nbsp;
                                    <input type="radio" id="idoptoutnameradio2" name="optoutnameradio" value="Custom">
                                    <label for="idoptoutnameradio2"><b>Custom</b></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding: 10px;"><label><b>Record Name Pronunciation :</b></label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding: 10px;"><label><b>AdEnt ID :</b></label></td>
                            <td><textarea class="form-control" id="adEntId">@Model.ADENTID</textarea></td>
                        </tr>
                        <tr>
                            <td style="text-align: left; padding: 10px;"><label><b>Employee Name :</b></label></td>
                            <td><textarea class="form-control" id="empName">@Model.FirstName @Model.LastName</textarea><td>
</tr>
                        <tr>
                            <td style="text-align: left; padding: 10px;"><label><b>Preferred Name :</b></label></td>
                            <td><textarea class="form-control" id="preferredName">@Model.PreferredName</textarea></td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding:10px;">
                                <label><b>Employee Id :</b></label>
                            </td>
                            <td>
                                <label class="form-control" id="empId">@Model.EmployeeId</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding:10px;"><label><b>Country :</b></label></td>
                            <td><label class="form-control" id="country">@Model.Country</label></td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding:10px;"><label><b>Name Pronunciation :</b></label></td>
                            <td><button type="button" id="btnRecord"><b>Record</b></button></td>
                            <td><button type="button" id="btnSavePlay"><b>Save & Play</b></button></td>
                        </tr>
                        <tr>
                            <td style="text-align:left; padding:10px;"><label><b>Name Phonetic :</b></label></td>
                            <td><label class="form-control" id="phonetic">@Model.NamePhonetic</label></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            </td>
        </tr>
    </table>
</body>
</html>